# Application settings
app:
  name: 'tools'
  debug: true

# Server settings
server:
  ssl: false

# Session Settings
session:
  # cookie key
  name: tools_sid

# Log settings
log:
  # output files
  access: deploy/log/access.log
  app: deploy/log/app.log
  error: deploy/log/error.log
